@font-face {
  font-family: Montserrat-Black;
  font-display: auto;
  src: local("Montserrat-Black"), url(../fonts/Montserrat-Black.ttf);
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Bold;
  font-display: auto;
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf);
  font-style: normal;
}
@font-face {
  font-family: Montserrat-SemiBold;
  font-display: auto;
  src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.ttf);
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Italic;
  font-display: auto;
  src: local("Montserrat-Italic"), url(../fonts/Montserrat-Italic.ttf);
  font-style: normal;
}
@font-face {
  font-family: Montserrat-Regular;
  font-display: auto;
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: CodecPro-ExtraBold;
  font-display: auto;
  src: local("CodecProExtraBold"), url(../fonts/CodecPro-ExtraBold.ttf);
  font-style: normal;
}
@font-face {
  font-family: CodecPro-Bold;
  font-display: auto;
  src: local("CodecProBold"), url(../fonts/CodecPro-Bold.ttf);
  font-style: normal;
}
