.project-design {
  background-color: #f8f8f8;
  height: 100%;
}
.container1 {
  @extend %container;

  .nav {
    @extend %nav;
  }
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 184px;
  .name {
    flex: 1;
    a {
      font-family: "CodecPro-ExtraBold";
      font-size: 70px;
      line-height: 120%;
      /* or 84px */
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #dcdcdc;
      text-decoration: none;
      margin-bottom: 15px;
    }
    a:hover {
      color: #0000ff;
    }
  }
  .about-project {
    flex: 2;

    p {
      font-family: "Montserrat-Regular";
      font-size: 18px;
      line-height: 160%;
      /* or 29px */
      display: flex;
      align-items: center;
      color: #717171;
      width: 75%;
    }
    .links {
      width: 75%;
      display: flex;
      flex-direction: row;
      margin-top: 55px;
      .server,
      .clients {
        display: flex;
        flex-direction: row;
        .server-img {
          width: 56px;
          height: 56px;
          background-color: #0000ff;
          img {
            padding: 14px;
          }
        }
        .client-img {
          width: 56px;
          height: 56px;
          background-color: #0000ff;
          img {
            padding: 9px;
          }
        }
        a {
          font-family: "Montserrat-Black";
          font-size: 16px;
          line-height: 150%;
          /* or 24px */
          display: flex;
          align-items: center;
          letter-spacing: 0.03em;
          color: #333333;
          margin-left: 25px;
          text-decoration: none;
        }
      }
    }
    .products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 90px 0;
      .item {
        display: flex;
        flex-direction: column;
        width: 49%;
        margin-bottom: 50px;
        img {
          width: 100%;
          padding-bottom: 20px;
        }
        a {
          font-family: "Montserrat-SemiBold";
          font-size: 20px;
          line-height: 120%;
          /* or 24px */
          display: flex;
          align-items: center;
          color: #333333;
          text-decoration: none;
        }
        p {
          font-family: "Montserrat-Regular";
          font-size: 18px;
          line-height: 120%;
          /* or 22px */
          display: flex;
          align-items: center;
          color: #b6b6b6;
          padding-top: 10px;
        }
      }
    }
    .btn1 {
      display: flex;
      justify-content: center;
      button {
        border: 1px solid #0000ff;
        box-sizing: border-box;
        display: flex;
        background-color: #f8f8f8;

        a {
          font-family: "Montserrat-SemiBold";
          font-size: 15px;
          line-height: 160%;
          /* or 24px */
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.03em;
          color: #0000ff;
          text-decoration: none;
          padding: 23px 40px;
        }
      }
      button:hover {
        background-color: #0000ff;
        a {
          color: #f8f8f8;
        }
      }
    }
    .form {
      width: 100%;
    }
  }
}
