.message__form 
    h1 Сделать будущее бренда — успешным
    input(type="text" placeholder="Имя")  
    input(type="text" placeholder="Email") 
    input(type="text" placeholder="Телефон")
    textarea(name="Расскажите о своем проекте" cols="20" rows="2" placeholder="Расскажите о своем проекте")
    p Заполняя форму, вы соглашаетесь на обработку персональных данных (ст.9 ФЗ от 27.07.2006 №152-ФЗ «О персональных данных»)
    button.btn.btn-primary Отправить запрос   
                        
.line 